 <!-- post-container -->
            <div class="post-container">
              <div class="div alert alert-warning">
                <%= message %>
              </div>
            </div><!-- /post-container -->