<!-- post-container -->
                <div class="post-container">
                  <h2 class="page-heading"><%= category.name %></h2>
                     <%- include("partial/loop") %>
                </div><!-- /post-container -->